<div class="container">
  <h1>All Movies</h1>

  <table id="movies">
    <thead>
      <tr>
        <%# The method definition has been removed. The calls below now use the helper. %>
        <%= sortable_header(:title, 'Movie Title') %>
        <%= sortable_header(:rating, 'Rating') %>
        <%= sortable_header(:release_date, 'Release Date') %>
      </tr>
    </thead>

    <tbody>
      <% @movies.each do |movie| %>
        <tr>
          <td><%= link_to movie.title, movie_path(movie) %></td>
          <td><%= movie.rating %></td>
          <td><%= movie.release_date&.strftime("%B %d, %Y") %></td>
        </tr>
      <% end %>
    </tbody>

    <tfoot>
      <tr>
        <td colspan="3">
          Showing movies <%= @pagy.from %>-<%= @pagy.to %> of <%= @pagy.count %> total.
        </td>
      </tr>
    </tfoot>
  </table>

  <div class="pagy-nav-container">
    <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
  </div>

  <%= link_to "Add new movie", new_movie_path, class: 'btn btn-primary' %>
</div>
