<div class="container">
  <%# The main title of the page is now the movie's title %>
  <h1><%= @movie.title %></h1>

  <%# We reuse the details card to display all the movie's information %>
  <div class="movie-details-card">
    <h2>Movie Details</h2>
    <p>
      <strong>Rating:</strong> <%= @movie.rating %>
    </p>
    <p>
      <strong>Released:</strong> <%= @movie.release_date&.strftime('%B %d, %Y') %>
    </p>
    <p>
      <strong>Description:</strong><br>
      <%= @movie.description %>
    </p>
  </div>

  <hr>

  <%# Navigation and action buttons relevant to the show page %>
  <div class="page-actions">
    <%# The "Edit" button is now the primary action %>
    <%= link_to "Edit This Movie", edit_movie_path(@movie), class: 'btn btn-primary' %>
    <%= link_to "Back to Movies", movies_path, class: 'btn' %>

    <%# The styled delete button is also useful here %>
    <%= button_to "Delete This Movie", @movie, method: :delete,
        class: 'btn btn-danger',
        data: { confirm: 'Are you sure you want to permanently delete this movie?' } %>
  </div>
</div>